# Carpeta raíz específica
/01_utad_temario/
/libreria/
/pruebas/
/_plantilla_c/
/_plantilla_cpp/

# Archivos del sistema
.DS_Store

# VSCode
.vscode/

# Archivos de testing
*.in
*.ans

# Archivos compilados
*.o

# Binarios generados
main